<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>{$page_title}</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <p>БЛОГ О ЛИТЕРАТУРЕ</p>
                <h1><i>Секреты писателя</i></h1>
                <menu>
                    <li><a href="index.php">ГЛАВНАЯ</a></li>
                    <li><a href="index.php?page=Articles">СТАТЬИ</a></li>
                    <li><a href="index.php?page=Authors">АВТОРЫ</a></li>
                </menu>
            </header>
            
            
            
            
            

